.json-viewer{
    font-size: 10px;
}

.json-viewer .object, .json-viewer .array{
    clear: both;
}
.json-viewer .object > .object-begin,
.json-viewer .array > .array-begin
{
    clear: both;
    margin-left: 0;
}
.json-viewer .object > .object-end,
.json-viewer .array > .array-end
{
    clear: both;
    margin-left: 0;
}

.json-viewer .object > .object-item,
.json-viewer .array > .array-item{
    clear: both;
    margin-left: 2em;
}

.json-viewer .object:hover, .json-viewer .array:hover{
    background-color: #fff;

}


.json-viewer .object > .object-item > .key,
.json-viewer .object > .object-item > .delimiter,
.json-viewer .object > .object-item > .value
{
    float: left;
}

.icon{
    display: inline-block;
}
.icon-expander{
    display: inline-block;
    border-width: 5px;
    position: relative;
    top: 5px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
    cursor: pointer;
}
.expanded .icon-expander{
    display: inline-block;
    position: relative;
    top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000000 transparent;
}

dl.json-viewer .icon-expander{
    display: none;
}